*.prefs
*.class
/Desarrollo basado en componentes/Felipe-Nestor/Laboratorio1/Lab1-MueblesDeLosAlpes/dist/
/Desarrollo basado en componentes/Felipe-Nestor/laboratorio4/Laboratorio3/Lab3-MueblesDeLosAlpes/Lab3-MueblesDeLosAlpes-ejb/build/
/Desarrollo basado en componentes/Felipe-Nestor/laboratorio4/Laboratorio3/Lab3-MueblesDeLosAlpes/Lab3-MueblesDeLosAlpes-ejb/dist/
/Desarrollo basado en componentes/Felipe-Nestor/laboratorio4/Laboratorio3/Lab3-MueblesDeLosAlpes/build/
/Desarrollo basado en componentes/Felipe-Nestor/laboratorio4/Laboratorio3/Lab3-MueblesDeLosAlpes/Lab3-MueblesDeLosAlpes-war/build/
/Desarrollo basado en componentes/Felipe-Nestor/laboratorio4/Laboratorio3/Lab3-MueblesDeLosAlpes/Lab3-MueblesDeLosAlpes-war/dist/